include header

div(class="header")
    h2 My Shop
div(class="main")
    h3 #{title}
    div(class="listing_block")
        each val, index in goods
            if val['category']=='2'
                div(class="one_good")
                    p(class="title") #{val['name']}
                    div(class="img_block")
                        img(
                            src='images/' + val['image']
                            class="goods_img"
                        )
                    p(class="price") #{val['cost']} руб.
                    a(class="tocart btn" href="") To cart
//- p #{foo}
//- h3 #{bar}
//- each val, index in goods
//-     p #{val['name']}
//-     img(
//-         src='images/' + val['image']
//-         class="test"
//-     )